In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import LabelEncoder
variance = VarianceThreshold (threshold= 0)
label = LabelEncoder()
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("C:\\Users\\somel\\Documents\\Decision_Tree_ Dataset.csv")

In [3]:
data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [4]:
dataset = pd.DataFrame(data)
dataset1= dataset .rename(columns={"Unnamed: 5":"Results"}, inplace= True)

In [7]:
dataset

       1      2    3     4    sum Results
0    201  10018  250  3046  13515     yes
1    205  10016  395  3044  13660     yes
2    257  10129  109  3251  13746     yes
3    246  10064  324  3137  13771     yes
4    117  10115  496  3094  13822     yes
..   ...    ...  ...   ...    ...     ...
995  413  14914  523  4683  20533      No
996  359  14423  927  4838  20547      No
997  316  14872  613  4760  20561      No
998  305  14926  897  4572  20700      No
999  168  14798  834  4937  20737      No

[1000 rows x 6 columns]

In [10]:
X = dataset.drop(['Results'], axis= 1)

In [11]:
X

       1      2    3     4    sum
0    201  10018  250  3046  13515
1    205  10016  395  3044  13660
2    257  10129  109  3251  13746
3    246  10064  324  3137  13771
4    117  10115  496  3094  13822
..   ...    ...  ...   ...    ...
995  413  14914  523  4683  20533
996  359  14423  927  4838  20547
997  316  14872  613  4760  20561
998  305  14926  897  4572  20700
999  168  14798  834  4937  20737

[1000 rows x 5 columns]

In [13]:
Y = dataset['Results']

In [14]:
Y

0      yes
1      yes
2      yes
3      yes
4      yes
      ...
995     No
996     No
997     No
998     No
999     No
Name: Results, Length: 1000, dtype: object

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test =train_test_split(X, Y, test_size=0.3 , random_state= 0)

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
tree = DecisionTreeClassifier

In [26]:
classifier = tree(criterion = "entropy", random_state=100, max_depth = 3, min_samples_leaf = 5)

In [27]:
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [28]:
y_pred = classifier.predict(X_test)

In [29]:
y_pred

array(['No', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes',
       'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'No', 'yes',
       'yes', 'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'No',
       'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'No', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'yes', 'yes', 'No', 'No',
       'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'No', 'No', 'yes', 'No', 'No', 'yes',
       'No', 'No', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No', 'yes',
       'No', 'No', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No', 'yes',
       'No', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes',
       'No', 'yes', 'No', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'yes', 'No', 'No', 'No', 'yes', 'No', 'No', 'No', 'yes'],
      dtype=object)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
print("Accuracy is ", accuracy_score(Y_test,y_pred))

Accuracy is  1.0